<div class = "container">
    <h1 style = "color:#263238"> Gestión de Productos </h1>
  </div>
  
  <div class="container">
    <br>
    <form class = "form-horizontal" action = "">
      <div class = "form-group">
        <label for = "busqueda" class = "control-label col-md-1"> Búsqueda: </label>
        <div class="col-md-5">
          <input class = "form-control" type = "search" ng-model = "busqueda" placeholder = "Buscar..."/>
        </div>
        <div class = "col-md-6"> </div>
      </div>
    </form>
  </div>
  
  <br><br>
  
    <div class = "table-responsive">
      <table class = "table"> 
        <tr>
          <th> Nombre </th>
          <th> Descripcion </th>
          <th> Codigo de Barras </th>
          <th> Proveedor </th>
          <th> Precio de Compra </th>
          <th> Impuesto </th>
          <th> Descuento </th>
          <th></th>
        </tr>
        

        <tr *ngFor="let Product of service.productList" class="active">
          <td (click)="populateForm(Product)"> {{Product.Name}}</td>
          <td>{{Product.Description}}</td>
          <td>{{Product.Code}}</td>
          <td>{{Product.Provider}}</td>
          <td>{{Product.Price}}</td>
          <td>{{Product.Tax}}</td>
          <td>{{Product.Discount}}</td>
          <td><button class="btn btn-sm btn-outline-danger">X</button></td>
        </tr>
      </table>
    </div>
    <br><br><br>
  
    <div class = "container">
      <h3> Agregar producto <span class = "label label-warning">Nuevo</span></h3>
      <br><br>
      <form name = "productoForm" ng-submit = "addProducto()" novalidate class = "form-horizontal">
        <div class = "form-group">
          <label for = "nombre" class = "control-label col-md-2">Nombre:</label>
          <div class = "col-md-4">
            <input  class = "form-control" type = "text" placeholder = "Nombre" ng-model = "nprod.nombre" ng-required = "true">
          </div>
        </div>
        <div class = "form-group">
          <label for = "descripcion" class = "control-label col-md-2">Descripcion:</label>
          <div class="col-md-4">
            <input  class = "form-control" type = "text" placeholder = "Descripcion" ng-model = "nprod.descripcion" ng-required = "true" >
          </div>
        </div>
        <div class = "form-group">
          <label for = "codigoBarras" class = "control-label col-md-2">Codigo de Barras:</label>
          <div class = "col-md-4">
            <input  class = "form-control" type = "number" placeholder = "Codigo de Barras" ng-model = "nprod.codigoBarras" ng-required = "true" >
          </div>
        </div>
        <div class="form-group">
          <label for = "proveedor" class="control-label col-md-2">Proveedor:</label>
          <div class = "col-md-4">
            <input  class = "form-control" type = "text" placeholder = "Proveedor" ng-model = "nprod.proveedor" ng-required = "true" >
          </div>
        </div>
        <div class = "form-group">
          <label for = "precioCompra" class = "control-label col-md-2">Precio de Compra:</label>
          <div class="col-md-4">
            <input  class = "form-control" type = "number" placeholder = "Precio de Compra" ng-model = "nprod.precioCompra" ng-required = "true">
          </div>
        </div>
        <div class = "form-group">
          <label for = "impuesto" class = "control-label col-md-2">Impuesto:</label>
          <div class = "col-md-4">
            <input  class = "form-control" type = "number" placeholder = "Impuesto" ng-model = "nprod.impuesto" ng-required = "true" >
          </div>
        </div>
        <div class = "form-group">
          <label for = "descuento" class = "control-label col-md-2">Descuento:</label>
          <div class = "col-md-4">
            <input  class = "form-control" type = "number" placeholder = "Descuento" ng-model = "nprod.descuento" ng-required = "true" >
          </div>
        </div>
        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Agregar" ng-disabled = "productoForm.$invalid"/>
          </div>
        </div>
    </form>
    </div>
  