<div class="navbar navbar-default navbar-fixed-top" id="nav-bar">
    <ul>
     <li><a routerLink="/home">Inicio</a></li>
     <li><a routerLink="/Role">Roles</a></li>
     <li><a routerLink="/Sucursales">Sucursales</a></li>
     <li><a routerLink="/Trabajadores">Trabajadores</a></li>
     <li><a routerLink="/Proveedores">Proveedores</a></li>
     <li><a routerLink="/Productos">Productos</a></li>
     <li><a routerLink="/Compras">Compras</a></li>
     <li><a routerLink="/Horario">Horario</a></li>
     <li><a routerLink="/Planilla">Planilla</a></li>
  
     <li style="float:right"><a class="active" routerLink="/login">Login</a></li>
    </ul>
  </div>
  