<div class="form-style hidden-xs">
  <h2>Inicio de sesión</h2>
  <form name="loginForm" ng-submit="sendMessage()" novalidate>
    <input type="text" name="name" placeholder="Usuario" ng-model="user.name" ng-required="true"/>
    <div ng-show="loginForm.name.$touched && loginForm.name.$invalid">
      <small style= "color: #c62828; display: block; text-align: center;">Ingrese un nombre válido</small>
    </div>
    <input type="email" name="email" placeholder="Correo" ng-model="user.email" ng-required="true"/>
    <div ng-show="loginForm.email.$touched && loginForm.email.$invalid">
      <small style= "color: #c62828; display: block; text-align: center;">Ingrese un correo válido</small>
    </div>
    <input type="password" name="password" placeholder="Contraseña" ng-model="user.password" ng-required="true"/>
    <div ng-show="loginForm.password.$touched && loginForm.password.$invalid">
      <small style= "color: #c62828; display: block; text-align: center;">Ingrese una contraseña válida</small>
    </div>
    <input class="btn btn-primary" type="submit"  value="Send" ng-disabled="loginForm.$invalid"/>
  </form>
</div>

<!-- Mobile--->
<div class="container visible-xs hidden-sm hidden-md hidden-lg">
  <h3 style="text-align:center">Iniciar Sesión<span class="label label-Danger">Nuevo</span></h3>
  <br><br>
  <form name="loginForm" ng-submit="sendMessage()" novalidate class="form-inline">
    <div class="form-group">
      <label for="nombre" class="sr-only">Usuario:</label>
      <input class="form-control" type="text" name="name" placeholder="Usuario" ng-model="user.name" ng-required="true"/>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="Correo" class="sr-only">Correo:</label>
        <div class="input-group-addon">@</div>
        <input class="form-control" type="email" name="email" placeholder="Correo" ng-model="user.email" ng-required="true"/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Contraseña:</label>
      <input class="form-control" type="password" name="password" placeholder="Contraseña" ng-model="user.password" ng-required="true"/>
    </div>
    <button class="btn btn-primary" type="submit" name="button" value="Send" ng-disabled="loginForm.$invalid">Enviar</button>


</form>
</div>
