<div class="container">
    <h1 style="color:#263238">Gestión de Roles</h1>
  </div>
  
  <div class="container">
    <br>
    <form class="form-horizontal" action="">
      <div class="form-group">
        <label for="busqueda" class="control-label col-md-1">Búsqueda:</label>
        <div class="col-md-5">
          <input class="form-control" type="search" ng-model="busqueda" placeholder="Buscar..."/>
        </div>
      </div>
    </form>
  </div>
  <br><br>
  
    <div class="table-responsive">
      <table class="table"> <!--id="table-style" --->
        <tr>
          <th>Puesto</th>
          <th>Descripción</th>
          <th></th>
        </tr>
        <tr ng-repeat="rol in roles | orderBy: orden | filter: busqueda" ng-show:"true" class="active">
          <td>{{rol.nombre}}</td>
          <td>{{rol.descripcion}}</td>
          <td><div class="remove" ng-click="eliminarRol(rol)">x</div></td>
        </tr>
      </table>
    </div>
    <br><br><br>
  <div class="container">
    <h3 style="">     Agregar roles <span class="label label-warning">Nuevo</span></h3>
    <br><br>
    <form name="rolForm" ng-submit="addRol()" novalidate class="form-horizontal">
      <div class="form-group">
        <label for="nombre" class="control-label col-md-2">Nombre:</label>
        <div class="col-md-4">
          <input  class="form-control" type="text" placeholder="Nombre" ng-model="nrol.nombre" ng-required="true"  >
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion" class="control-label col-md-2">Descripción:</label>
        <div class="col-md-4">
          <input  class="form-control" type="text" placeholder="Descripción" ng-model="nrol.descripcion" ng-required="true" >
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-3">
          <input class="btn btn-primary" type="submit" value= "Agregar" ng-disabled="rolForm.$invalid"/>
        </div>
      </div>
  </form>
  </div>
  