
<div class="content">

  <form name="contactForm" ng-submit="sendMessage()" novalidate>
    <input type="text" name="name" placeholder="name" ng-model="contact.name" ng-required="true"/>
    <!--
    <div class="content">
    <span>
      $pristine - {{contactForm.name.$pristine}},
      $dirty - {{contactForm.name.$dirty}},
      $untouched - {{contactForm.name.$untouched}},
      $touched - {{contactForm.name.$touched}},
      $invalid - {{contactForm.name.$invalid}},
      $valid - {{contactForm.name.$valid}},
    </span>
    -->
    <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small style= "color: red; display: block; text-align: center;">Ingrese un nombre válido</small>
    </div>
    <input type="email" name="email" placeholder="email" ng-model="contact.email" ng-required="true"/>
    <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small style= "color: red; display: block; text-align: center;">Ingrese un correo válido</small>
    </div>
    <input type="password" name="password" placeholder="password" ng-model="contact.password" ng-required="true"/>
    <div ng-show="contactForm.password.$touched && contactForm.password.$invalid">
      <small style= "color: red; display: block; text-align: center;">Ingrese una contraseña válido</small>
    </div>
    <textarea placeholder="Your Message" name="message"></textarea>
    <input type="submit"  value="Send" ng-disabled="contactForm.$invalid"/>
  </form>
</div>
