<div class="content">
  <div>
    <h3 style="color:#37474f; padding=10px">Búsqueda: <input type="text" ng-model="busqueda" placeholder="Buscar..."/></h3>
    <br>
  </div>
  <br>
  <table id="table-style">
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Teléfono</th>
    <th>Administrador</th>
    <th></th>
  </tr>
    <tr  ng-repeat="sucursal in sucursales | orderBy: orden | filter: busqueda" >
      <td><h3>{{sucursal.nombre}}</h3></td>
      <td>{{sucursal.direccion}}</td>
      <td>{{sucursal.telefono}}</td>
      <td>{{sucursal.administrador}}</td>
      <td><div class="remove" ng-click="eliminarSucursal(sucursal)">x</div></td>
    </tr>
  </table>
  <br><br><br>
  <h2 style="color:#eceff1; text-align:center; background-color:#1565c0; padding:20px"">Agregar sucursal</h2>
  <br><br>
  <form name="sucursalForm" ng-submit="addSuc()" novalidate>
    <input type="text" placeholder="Nombre" ng-model="nsuc.nombre" ng-required="true">
    <input type="text" placeholder="Dirección" ng-model="nsuc.direccion" ng-required="true">
    <input type="tel" placeholder="Teléfono +(506)22304585" ng-model="nsuc.telefono"  pattern="+([1-9]{1}[0-9]{2})[1-9]{1}[0-9]{7}" ng-required="true">
    <input type="text" placeholder="Administrador" ng-model="nsuc.administrador" ng-required="true">
    <input type="submit" value= "Nueva sucursal" ng-disabled="sucursalForm.$invalid"/>
  </form>
</div>
