<div class="content">
  <button ng-click="orden= 'nombre'">Ordenar por nombre</button>
  <button ng-click="orden= 'descripcion'">Ordenar por descripción</button>
  <!--<p>{{message}} </p>-->
  <input type="text" ng-model="busqueda" placeholder="Buscar..."/>
  <ul id="rol-list">
    <li ng-repeat="rol in roles | orderBy: orden | filter: busqueda"
    ng-show="rol.available">
      <h3>{{rol.nombre}} <!--: {{rol.descripcion}}--></h3>
      <div class="remove" ng-click="eliminarRol(rol)">x</div>
      <span class="belt" style="background: {{rol.descripcion}}">{{rol.descripcion}} color</span>
    </li>
  </ul>
  <form ng-submit="addRol()">
    <input type="text" placeholder="Nombre" ng-model="nrol.nombre">
    <input type="text" placeholder="Descripción" ng-model="nrol.descripcion">
    <input type="submit" value= "Agregar rol" />
  </form>

  <a href="" ng-click="removeAll()">Eliminar todo</a>
</div>
