<div class="content">
  <!--<p>{{message}} </p>-->
  <input type="text" ng-model="busqueda" placeholder="Buscar..."/>
  <br></br>
  <table id="table-style">
  <tr>
    <th>Puesto</th>
    <th>Descripción</th>
    <th></th>
  </tr>
    <tr  ng-repeat="rol in roles | orderBy: orden | filter: busqueda" ng-show="rol.available">
      <td><h3>{{rol.nombre}}</h3></td>
      <td>{{rol.descripcion}}</td>
      <td><div class="remove" ng-click="eliminarRol(rol)">x</div></td>
    </tr>
  </table>

  <form ng-submit="addRol()">
    <input type="text" placeholder="Nombre" ng-model="nrol.nombre" required>
    <input type="text" placeholder="Descripción" ng-model="nrol.descripcion" required>
    <input type="submit" value= "Nuevo rol" />
  </form>
</div>
